/* =Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* DIRECTORY LIST */

ul.directorylist {
	padding: 0px;
}

ul.directorylist li.folder:before {
	content: '\f301';
	font-family: 'Genericons';
	-webkit-font-smoothing: antialiased;
	vertical-align: bottom;
	font-size: 17px;
}

ul.directorylist li.folder {
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	list-style: none;
	cursor: pointer;
}

ul.directorylist li.file:before {
	content: '\f443';
	font-family: 'Genericons';
	-webkit-font-smoothing: antialiased;
	vertical-align: bottom;
	font-size: 17px;
}

ul.directorylist li.file {
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 2px 0px;
	text-transform: none;
	font-weight: normal;
	cursor: default;
}

ul.directorylist span.size {
	float: right;
}